.banner-container {
  position: relative;
  height: 100vh; /* Adjust the height as needed */
  background-image: url('../../images/coverPic.jpg'); /* Path to your image */
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
.banner {
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

.banner p {
  font-size: 18px;
  position: relative;
  z-index: 10000;
}

.banner h1 {
  font-size: 36px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1000;
}

.banner a {
  text-decoration: none;
}

.banner button {
  background-color:#0067a5;
  position: relative;
  color: #ffffff;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 10000;
}

.banner img {
  width: 100%;
  width: 100px;
  border-radius: 10px;
  margin-top: 20px;
}

.homeHeading {
  text-align: center;
  font-size: 32px;
  margin-top: 100px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
  .productCard {
    width: 16vmax;
    height: 22vmax;;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: #c7dceb;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    border-radius: 5px;
  }
  
  .productCard > img {
    width: 16vmax;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .product-description {
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
  }
  
  
  .productCard > div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .productCardSpan {
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
  }
  
  .productCard > p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
  }
  
  .productCard > span {
    margin: 0.5vmax;
    color: #0067a5;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
  }
  
  .productCard:hover {
    transform: translateY(-1vmax);
  }
  
  @media screen and (max-width: 600px) {
    .productCard > p {
      font-size: 1.7vmax;
    }
  
    .productCard > div {
      margin: 0vmax;
      display: block;
    }
  
    .productCard > span {
      font-size: 1.5vmax;
    }
  
    .productCard > div > span {
      margin: 0 0.5vmax;
      font: 300 1vmax "Roboto";
    }
  }
